<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arc Reactor Iron Man</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="company-heading">
        <div class="dropdown">
          <button class="dropbtn">
            <span></span>
            <span></span>
            <span></span>
          </button>
          <div class="dropdown-content">
            <div class="dropdown-section">
              <h3>About</h3>
              <p>Sum.io is an innovative AI company dedicated to pushing the boundaries of artificial intelligence and machine learning for easier meetings.</p>
            </div>
            <div class="dropdown-section">
              <h3>Team</h3>
              <p>Developed by the funky minds of Team R-Stack (Rushi, Rahul and Raashil).</p>
            </div>
          </div>
        </div>
        <span class="company-name">sum.io</span>
      </div>
    <!-- <div class="company-heading">sum.io</div> -->
    <div class="parent">

      <div class="reactor">
        <div class="triangle"></div>
        <div class="circle-1"><span></span><span></span><span></span><span></span></div>
        <div class="circle-2"><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></div>
        <div class="circle-3"></div>
        <div class="circle-4"><span></span><span></span><span></span></div>
        <div class="circle-5">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="circle-6"><div class="logo-heading"> SUM AI</div></div>
        <div class="circle-7"></div>
        <div class="circle-8"><span></span><span></span><span></span></div>
      </div>
      <div class="button-container">
        <button type="button" class="button button1">Button 1</button>
        <button type="button" class="button button2">Button 2</button>
      </div>
    </div>
    <div class="footer-text">*Property of Team R-Stack</div>
  </body>
</html>
